@font-face {
	font-family: PTSans;
	font-weight: 400;
	font-style: normal;
	src: url(PTSans-Regular.ttf);
}

@font-face {
	font-family: work-sans;
	font-weight: 300;
	font-style: normal;
	src: url(WorkSans-Light.ttf);
}

@font-face {
	font-family: work-sans;
	font-weight: 400;
	font-style: normal;
	src: url(WorkSans-Regular.ttf);
}

@font-face {
	font-family: work-sans;
	font-weight: 500;
	font-style: normal;
	src: url(WorkSans-Medium.ttf);
}